/* city-filter class for the search bar container*/
.city-filter{
    width: 100%;
    height: 450px;
    margin-top: 60px;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.autocomplete{
    width:100%;
    text-align: center;
}
.autocomplete-items {
    text-align: center;
    position: absolute;
    width: 100%;
    border: 1px solid none;
    border-bottom: none;
    border-top: none;
    z-index: 99;

  }
.autocomplete-items div{
    border: 1px solid transparent;
    border-radius: 12px;
    width: 28%;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 16px;
    border-bottom: 1px;
    cursor: pointer;
    z-index: 99;
    margin: auto;
}
/* city-container class for containing all city cards*/
.city-container{
    margin: 4% 4% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
/*City search bar */
#search-bar{
   border: 1px solid transparent;
   border-radius: 12px;
   width: 28%;
   padding: 10px;
   background-color: #f1f1f1;
   font-size: 16px;
}
#search-bar:focus{
    outline: none;
}
/* city class for each div containing city card*/
.city{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2% auto;
}
/* city-card class for each city image*/
.city-card{
    height: 150px; width: 150px;
    border: 0px;
    border-radius: 25%;
    display: flex;
    box-shadow: 10px 10px 10px grey;
}
.city-name{
    height: 150px; width: 150px;
    border: 0px;
    border-radius: 25%;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
}
.city-card,.city-name:hover{
    cursor: pointer;
}
.city-card:hover + .city-name{
    display: flex;
    z-index: 1;
    background-color:  rgba(0, 0, 0, 0.5);
}
.view-more{
    text-align: center;
    margin: 1% auto 10%;
}
@media only screen and (min-width:320px) and (max-width:576px) {
    .city-container{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 4% 37% 2%;
    } 
    .city{
        margin: 2% auto;
    }
}
@media only screen and (min-width:577px) and (max-width:767px) {
    .city-container{
        height: auto;
        margin: 4% 20% 2%;
        flex-direction: row;
        justify-content: space-between;
        overflow-y: scroll;
    }

    .city{
        margin: 2% 0%;
    }
    
}



