/* city-filter class for the search bar container*/
.city-filter{
    height: 450px;
    margin-top: 60px;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* city-container class for containing all city cards*/
.city-container{
    margin: 4% 15% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
/*City search bar */
.search-bar{
   border: 1px solid transparent;
   border-radius: 12px;
   width: 28%;
   padding: 10px;
   background-color: #f1f1f1;
   font-size: 16px;
}
.search-bar:focus{
    outline: none;
}
/* city class for each div containing city card*/
.city{
    display: flex;
    justify-content:center;
    align-items: center;
}
/* city-card class for each city image*/
.city-card{
    height: 150px; width: 150px;
    border: 0px;
    border-radius: 25%;
    display: flex;
    box-shadow: 10px 10px 10px grey;
}
.city-name{
    height: 150px; width: 150px;
    border: 0px;
    border-radius: 25%;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
}
.city-card:hover + .city-name{
    display: flex;
    z-index: 1;
    background-color:  rgba(0, 0, 0, 0.5);
}
.view-more{
    text-align: center;
    margin: 1% 0% 7%;
}


