body{
    height: 50vh; width: 100vw;
    margin: 0;
}
.container{
    width: 100%; height: 100%;

}
.loader{
    height: 70px; width: 70px;
    border: 12px solid;
    border-color: #444444 #f3f3f3 #f3f3f3;
    border-radius: 50%;
    margin: 20% auto;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes loading{
         0%{transform:rotate(0deg);}
         25%{transform: rotate(90deg);}
         50%{transform: rotate(180deg);}
         75%{transform: rotate(270deg);}
         100%{transform: rotate(360deg);}
}